build
.env
.vscode/
Certificates
Libs
*.bin
signing
managed_components
.history
Terraform/**/*.zip
**/.terraform/*
.terraform
terraform.tfvars
**/.terragrunt-cache/*
.terragrunt-cache
.terraform.lock.hcl
*.tfstate
*.tfstate.*